.experience-item{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width:90%;
    margin-left:10px;
}
.experience-info{
    margin-top:5px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.experience-info p{
    font-size:16px;
    line-height:20px;
    opacity: 1;
    -webkit-animation:showText 0.5s 1s linear forwards;
    animation:showText 0.5s 1s linear forwards;
}
.progress-line{
    margin-top:6px;
    height:10px;
    width: 100%;
    background-color: #cdcdcd;
    border-radius:50px;
    position: relative;
}
.progress-line span{
    -webkit-transform: scaleX(0);
    transform:scaleX(0);
    -webkit-transform-origin: left;
    transform-origin:left;
    -webkit-animation: animate 1s cubic-bezier(1,0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1,0, 0.5, 1) forwards;
    height:100%;
    border-radius:50px;
    position:absolute;
    transition: 1s all;
}
.progress-line span.animate{
    -webkit-animation: animate 1.5s cubic-bezier(1,0, 0.5, 1) forwards;
    animation: animate 1.5s cubic-bezier(1,0, 0.5, 1) forwards;
}

@-webkit-keyframes showText{
    100%{
        opacity:1;
    }
}
@keyframes showText{
    100%{
        opacity:1;
    }
}
@-webkit-keyframes animate{
    100%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}

@keyframes animate{
    100%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}
